<% if @article.errors.any? then %>
  <% @article.errors.full_messages.each do |msg| %>
    <ul>
      <li><%= msg %></li>
    </ul>
  <% end %>
<% end %>

<%= form_with(model: @article, local: true) do |f| %>
  <p><strong>Title:</strong> <%= @article.title %></p>
  <p>
    <%= f.label :title %> <br>
    <%= f.text_field :title %>
  </p>

  <p><strong>Description:</strong> <%= @article.description %></p>
  <p>
    <%= f.label :description %> <br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit %>
  </p>
  <%= link_to 'Return', :back %>
<% end %>