<h1>Edit article: </h1>

<% if @article.errors.any? then %>
  <% @article.errors.full_messages.each do |msg| %>
    <ul>
      <li><%= msg %></li>
    </ul>
  <% end %>
<% end %>

<%# form_with(model: ) syntax implicitly submits action to Controller#update action %>
<%= form_with(model: @article, local: true) do |f| %>
  <p><strong>Current title:</strong> <%= @article.title %></p>

  <p>
    <%= f.label :new_title %> <br>
    <%= f.text_field :title %>
  </p>

  <p><strong>Current description:</strong> <%= @article.description %></p>
  <p>
    <%= f.label :new_description %> <br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>